/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
  }
  
  /* Ensure text remains visible during scrolling */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }